/* 레이아웃 */
#header {height: 327px; background: url(../img/header_bg.jpg) repeat-x center;}
#nav {background-color: #f6fdff;}

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; /*background: rgba(0,0,0,0.3);*/}

/* 헤더 */
.header {}
.header .header_menu {
    text-align: right;
}
.header .header_menu a {
    color: #fff;
    transition: color 0.3s; 
    display: inline-block; 
    padding: 8px 0 6px 10px; 
    font-family: 'Abel'
}
.header .header_menu a:hover {
    color: #ccc;
}
.header .header_tit {
    text-align: center; 
    font-family: 'Abel';
    margin-top: 55px;
    text-transform: uppercase;
}
.header .header_tit h1 {
    background: #51b0dc; 
    padding: 5px 30px;  
    color: #fff;  
    letter-spacing: 2px;
    font-size: 30px; 
    font-weight: 900; 
    display: inline-block;
    transition: all 0.4s;
}
.header .header_tit h1:hover {
    box-shadow: 0px 30px 50px -5px #51b0dc,
    0px -30px 50px -5px #51b0dc;		
	transform: translatey(-0.14px);
}
.header .header_tit a {
    background: #4a9abf; 
    padding: 10px 20px;  
    color: #fff;  
    font-size: 16px; 
    display: inline-block; 
    margin-top: -7px;
    transition: all 0.4s;
}
.header .header_tit a:hover {
    box-shadow: -10px 0 40px -5px #4a9abf;
    transform: translateY(-0.14px);
}
.header .header_icon {
    text-align: center;
    margin-top: 40px;
}
.header .header_icon li {
    display: inline;
    margin: 0 2px;
}
.header .header_icon li a {
    color: #fff;
    font-size: 35px;
    background: #3192bf;
    width: 60px; height: 60px;
    display: inline-block;
    line-height: 60px;
    border-radius: 50%;
    position: relative;
    transition: all 0.25s ease-in-out;
}
.header .header_icon li a span {
    font-size: 12px;
    line-height: 1.6;
    position: absolute;
    left: 50%; top: -45px;
    transform: translateX(-50%);
    background: #3192bf;
    padding: 3px 9px;
    border-radius: 6px 0;
    opacity: 0;
    transition: all 0.3s;
}
.header .header_icon li a:hover span {
    opacity: 1;
    top: -33px;
}
.header .header_icon li a span::before {
    content: '';
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute; 
    left: 50%; bottom: -5px;
    margin-left: -5px;
}
.header .header_icon li a:hover {
    box-shadow:
    0 0 0 3px rgba(75, 154, 191, 0.9) inset,
    0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}

@media(max-width: 1290px){
    .container {width: 100%;}
}

/* 전체메뉴 */
.nav {width: 100%; overflow: hidden; padding: 25px 0;}
.nav > div {width: 40%; display: inline-block; float: left;}
.nav > div:last-child {width: 20%;}
.nav > div h3 {font-size: 18; color: #25a2d0; font-weight: bold; margin-bottom: 4px;}
.nav > div ol {overflow: hidden;}
.nav > div ol li::before {
    content: ''; 
    width: 3px; 
    height: 3px; 
    background-color: #25a2d0; 
    border-radius: 50%; 
    position: absolute; 
    left: 0; top: 9px;
}
.nav > div:last-child ol li {width: 100%;}
.nav > div ol li {
    width: 50%; 
    float: left; 
    position: relative; 
    padding-left: 8px; 
    box-sizing: border-box;
}
.nav > div ol li a {position: relative; transition: all 0.2s ease-out;}
.nav > div ol li a::after {
    content: ''; 
    width: 0; 
    height: 1px; 
    background: #25aad0; 
    position: absolute; 
    bottom: 0; left: 0;
    transition: all 0.3s ease-out;
}
.nav > div ol li:hover a::after {width: 100%;}

/* 타이틀 */
#title {background-color: #eaf7fd; height: 90px; position: relative;ion: all 0.3s;}
.title {}
.title h2 {
    text-align: center; 
    font-size: 45px; 
    line-height: 80px; 
    color: #2c94c4; 
    font-family: 'Nanum Pen Script'; 
    font-weight: lighter;
}
.title a {position: absolute; top: 15px; left: 1500px; transition: all 0.3s;}
.title a i {position: absolute; top: -3px; left: 3px; color: #3192bf; font-size: 65px; }
.title a i:hover {box-shadow:
    0 0 0 3px rgba(75, 154, 191, 0.9) inset,
    0 0 0 100px rgba(68, 56, 56, 0.1) inset;
    border-radius: 50%; width: 56px; height: 56px;
    z-index: 100;
}


