body {width: 100%; height: 20000px;}
/* scroll */
.scroll {
    width: 50px; 
    height: 50px; 
    background: #fff; 
    border-radius: 50%; 
    position: fixed; 
    left: 1%; top: 2%;
    text-align: center;
    line-height: 2.5;
    font-size: 1vw;
    z-index: 100000;
}
/* //scroll */


#section1 {width: 100%; height: 100vh; background: #000; position: fixed;}





.section1 {height: inherit; text-align: center; display: flex; align-items: center; justify-content: center;}
.section1 svg {height: 100vh;}
.section1 svg text {font-size: 33px; fill: #fff; letter-spacing: 21px; font-family: 'Playfair Display', serif;}
.section1 .main_pic {width: 350px; height: 350px; background: #555; border-radius: 50%; position: absolute; right: -13%;}
.section1 h1 {font-size: 2vw; color: #fff; font-family: 'Roboto', sans-serif; position: fixed; right: -20%;}

