@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {width: 100%; height: 20000px;}
/* scroll */
.scroll {
    width: 60px; 
    height: 60px; 
    background: #fff; 
    border-radius: 50%; 
    position: fixed; 
    left: 1%; top: 2%;
    text-align: center;
    line-height: 3.2;
    font-size: 18px;
    z-index: 100000;
    border: 1px solid #000;
    font-family: 'Chosunilbo_myungjo';
}
/* //scroll */


#section1 {width: 100%; height: 100vh; background: #000; position: fixed; z-index: 10;}
#section2 {width: 100%; height: 100vh; background: #fff; position: fixed; transition: all 0.5s; z-index: 9;}
#section3 {width: 100%; height: 100vh; background: #000; position: fixed; transition: all 0.5s; z-index: 8;}



/* section1 */
.section1 {height: inherit; text-align: center; display: flex; align-items: center; justify-content: center;}
.section1 svg {height: 100vh;}
.section1 svg text {font-size: 37px;  fill: #fff;  letter-spacing: .3em;  font-family: 'Cormorant Garamond', serif; text-transform: uppercase; font-weight: 100;}
.section1 .main_pic {width: 350px; height: 350px;  background: url(../img12/main_pic.png) no-repeat;  background-size: cover; border-radius: 50%; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.section1 h1 {font-size: 2vw; color: #fff; font-family: 'Raleway', sans-serif; white-space: nowrap; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);}
/* //section1 */

/* section2 */
.section2 {height: inherit;}
.section2 .move {height: 100vh; width: 3950px; background: #fff; position: relative; top: 0; transition: all 0.1s;}
.section2 .move h1 {font-size: 200px; white-space: nowrap; font-family: 'Cormorant Garamond', serif; font-weight: bold; position: absolute; left: 28vw; top: 50%; transform: translate(0, -50%); z-index: 100;}
.section2 .move .about1 {width: 460px; height: 280px; background: #fff; display: flex; align-items: center; position: absolute; left: 15vw; top: 1vw;}
.section2 .move .about1 .about1_pic {width: 220px; height: 280px; background: url(../img12/sample1.jpg) no-repeat; background-size: cover; margin-right: 20px;}
.section2 .move .about1 h3 {font-size: 40px; font-family: 'Playfair Display', serif; line-height: 0.7;}
.section2 .move .about1 p {font-size: 19px; font-family: 'Chosunilbo_myungjo'; padding-top: 17px;}

.section2 .move .about2 {width: 520px; height: 350px; background: #fff; display: flex; align-items: center; position: absolute; left: 65vw; top: 0vw;}
.section2 .move .about2 .about2_pic {width: 290px; height: 350px; background: url(../img12/main_pic.png); background-size: cover; margin-right: 20px;}
.section2 .move .about2 h3 {font-size: 40px; font-family: 'Playfair Display', serif; line-height: 0.7;}
.section2 .move .about2 p {font-size: 19px; font-family: 'Chosunilbo_myungjo'; padding-top: 17px;}

.section2 .move .about3 {width: 510px; height: 300px; background: #fff; display: flex; align-items: center; position: absolute; left: 3vw; bottom: 1vw;}
.section2 .move .about3 .about3_pic {width: 245px; height: 300px; background: url(../img12/sample3.jpg); background-size: cover; margin-right: 20px;}
.section2 .move .about3 h3 {font-size: 40px; font-family: 'Playfair Display', serif; line-height: 0.7;}
.section2 .move .about3 p {font-size: 19px; font-family: 'Chosunilbo_myungjo'; padding-top: 17px;}

.section2 .move .html {width: 540px; height: 250px; background: #fff; display: flex; align-items: center; position: absolute; left: 90vw; bottom: 2vw;}
.section2 .move .html .html_pic {width: 400px; height: 250px; background: url(../img12/sample4.jpg); background-size: cover; margin-right: 20px;}
.section2 .move .html h3 {font-size: 40px; font-family: 'Playfair Display', serif; line-height: 0.7;}
.section2 .move .html p {font-size: 19px; font-family: 'Chosunilbo_myungjo'; word-break: break-all; padding-top: 17px;}

.section2 .move .css {width: 540px; height: 300px; background: #fff; display: flex; align-items: center; position: absolute; left: 130vw; top: 1vw;}
.section2 .move .css .css_pic {width: 250px; height: 300px; background: url(../img12/sample5.jpg); background-size: cover; margin-right: 20px;}
.section2 .move .css h3 {font-size: 40px; font-family: 'Playfair Display', serif; line-height: 0.7;}
.section2 .move .css p {font-size: 19px; font-family: 'Chosunilbo_myungjo'; word-break: break-all; padding-top: 17px;}

.section2 .move .javascript {width: 550px; height: 280px; background: #fff; display: flex; align-items: center; position: absolute; left: 170vw; bottom: 3vw;}
.section2 .move .javascript .java_pic {width: 350px; height: 280px; background: url(../img12/sample6.jpg); background-size: cover; margin-right: 20px;}
.section2 .move .javascript h3 {font-size: 40px; font-family: 'Playfair Display', serif; line-height: 0.7;}
.section2 .move .javascript p {font-size: 19px; font-family: 'Chosunilbo_myungjo'; word-break: break-all; padding-top: 17px;}

.section2 .move .jquery {width: 550px; height: 300px; background: #fff; display: flex; align-items: center; position: absolute; left: 220vw; top: 5vw;}
.section2 .move .jquery .jquery_pic {width: 280px; height: 300px; background: url(../img12/sample7.jpg); background-size: cover; margin-right: 20px;}
.section2 .move .jquery h3 {font-size: 40px; font-family: 'Playfair Display', serif; line-height: 0.7;}
.section2 .move .jquery p {font-size: 19px; font-family: 'Chosunilbo_myungjo'; word-break: break-all; padding-top: 17px;}
/* //section2 */

/* section3 */
.section3 {height: inherit; text-align: center; display: flex; align-items: center; justify-content: center;}
.section3 .text_box {width: 100%; height: 100vh; position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%);}

.section3 .text_box svg {height: 100vh; opacity: 0.2;}
.section3 .text_box svg text {font-size: 37px;  fill: #fff;  letter-spacing: .3em;  font-family: 'Cormorant Garamond', serif; text-transform: uppercase; font-weight: 100;}

.section3 .text_box p.T1 {font-size: 140px; color: #fff; font-family: 'Cormorant Garamond', serif; position: absolute; left: 27%; top: 13%; transform: translate(-50%, -50%);}
.section3 .text_box p.T2 {font-size: 140px; color: #F5AD6D; font-family: 'Cormorant Garamond', serif; position: absolute; left: 34%; top: 27%; transform: translate(-50%, -50%);}
.section3 .text_box p.T2::after {content: ''; width: 200px; height: 2px; background: #F5AD6D; position: absolute; right: -50%; top: 50%;}
.section3 .text_box p.T2:hover {color: #555;}
.section3 .text_box p.T3 {font-size: 140px; color: #fff; font-family: 'Cormorant Garamond', serif; position: absolute; left: 37%; top: 41%; transform: translate(-50%, -50%);}
.section3 .text_box p.T4 {font-size: 140px; color: #fff; font-family: 'Cormorant Garamond', serif; position: absolute; left: 54%; top: 55%; transform: translate(-50%, -50%);}
.section3 .text_box p.T5 {font-size: 140px; color: #fff; font-family: 'Cormorant Garamond', serif; position: absolute; left: 68%; top: 69%; transform: translate(-50%, -50%);}
.section3 .text_box p.T6 {font-size: 140px; color: #fff; font-family: 'Cormorant Garamond', serif; position: absolute; left: 59%; top: 83%; transform: translate(-50%, -50%);}
.section3 .text_box p.T7 {font-size: 40px; color: #F5AD6D; font-family: 'Cormorant Garamond', serif; position: absolute; left: 84%; top: 3%; transform: translate(-50%, -50%); white-space: nowrap;}
.section3 .text_box p.T8 {font-size: 30px; color: #FFF; font-family: 'Cormorant Garamond', serif; position: absolute; left: 8%; top: 86%; transform: translate(-50%, -50%);}
.section3 .text_box p.T9 {font-size: 30px; color: #F5AD6D; font-family: 'Cormorant Garamond', serif; position: absolute; left: 12%; top: 90%; transform: translate(-50%, -50%);}
.section3 .text_box p.T10 {font-size: 30px; color: #fff; font-family: 'Cormorant Garamond', serif; position: absolute; left: 10%; top: 94%; transform: translate(-50%, -50%);}

.section3 .move_site {height: 88vh; width: 4000px; background: #555; position: absolute; left: 220%; top: 50%; transform: translate(-50%, -50%); display: flex; align-items: center; justify-content: space-around; z-index: -1;}

.section3 .move_site .webstadard {width: 915px; height: 600px; background: #fff; display: flex; align-items: center; justify-content: space-between;}
.section3 .move_site .webstadard .site1 {width: 480px; height: 600px; background: #888;}
.section3 .move_site .webstadard .text1 {width: 400px; height: 600px; font-family: 'Chosunilbo_myungjo'; margin-right: 15px;}
.section3 .move_site .webstadard .text1 h1 {font-size: 27px; padding-top: 180px;}
.section3 .move_site .webstadard .text1 p {font-size: 18px; word-break: keep-all; padding-top: 40px;}

.section3 .move_site .responsive {width: 915px; height: 600px; background: #fff; display: flex; align-items: center; justify-content: space-between;}
.section3 .move_site .responsive .site2 {width: 480px; height: 600px; background: #888;}
.section3 .move_site .responsive .text2 {width: 400px; height: 600px; font-family: 'Chosunilbo_myungjo'; margin-right: 15px;}
.section3 .move_site .responsive .text2 h1 {font-size: 27px; padding-top: 180px;}
.section3 .move_site .responsive .text2 p {font-size: 18px; word-break: keep-all; padding-top: 40px;}

.section3 .move_site .megabox {width: 915px; height: 600px; background: #fff; display: flex; align-items: center; justify-content: space-between;}
.section3 .move_site .megabox .site3 {width: 480px; height: 600px; background: #888;}
.section3 .move_site .megabox .text3 {width: 400px; height: 600px; font-family: 'Chosunilbo_myungjo'; margin-right: 15px;}
.section3 .move_site .megabox .text3 h1 {font-size: 27px; padding-top: 180px;}
.section3 .move_site .megabox .text3 p {font-size: 18px; word-break: keep-all; padding-top: 40px;}
/* //section3 */




