@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#section1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #FFB4CD 80%, #FFF460 20%);
}

#section2 {
    width: 100%;
    height: 1300px;
    background: #FFF460;
}

#section3 {
    width: 100%;
    height: 700px;
}

#section4 {
    width: 100%;
    background: #000;
}

#section5 {
    width: 100%;
    margin-top: -1px;
}
#section6 {}

/* content */
#content {}

/* header */
#header {
    width: 100%;
    position: fixed;
    left: 0; top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000000;
}
#header h1 {
    font-size: 2vw;
    line-height: 0.9;
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    letter-spacing: -2px;
    padding: 20px;
}
#header h1 span:last-child {
    padding-left: 2vw;
}
#header nav {}
#header nav ul {
    padding: 20px;
}
#header nav ul li {
    display: inline-block;
}
#header nav ul li a {
    padding: 2.2vw;
    font-size: 0.8vw;
    font-family: 'Rammetto One';
}
nav .about_1 {
    width: 20px;
    position: absolute;
    left: 54%; top: 20%;
}
nav .about_2 {
    width: 23px;
    position: absolute;
    right: 36.3%; top: 17%;
}
nav .about_3 {
    width: 20px;
    position: absolute;
    right: 27.3%; top: 20%;
}
nav .about_4 {
    width: 20px;
    position: absolute;
    right: 16.5%; top: 20%;
}
nav .about_5 {
    width: 20px;
    position: absolute;
    right: 8.2%; top: 20%;
}
/* //header */

/* sec1 */
.sec1 h1 {
    font-size: 5vw;
    font-family: 'Rammetto One';
    text-align: center;
    line-height: 1.2;
    position: absolute; 
    left: 50%; top: 30%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 1000;
    color: #fcedd8;
    text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #035dff;
}
.sec1 .img1 img {
    width: 370px;
    height: 500px;
    position: absolute;
    left: 50%; top: 70%;
    transform: translate(-50%, -50%);
    border-radius: 205px;
    border: 5px solid #fff;
    box-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939; 
}
.sec1 .img2 img {
    width: 300px;
    position: absolute;
    left: 10vw;
    top: 65%;
    border-radius: 50px;
    border: 5px solid #fff;
    box-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939; 
}
.sec1 .img3 img {
    width: 200px;
    position: absolute;
    left: auto; right: 10%;
    top: 30%;
    border-radius: 33px;
    border: 5px solid #fff;
    box-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939; 
}
.sec1 .about_tw1 {
    width: 40px;
    position: absolute;
    left: 30%; top: 45%;
    z-index: 1100;
}
.sec1 .about_tw2 {
    width: 50px;
    position: absolute;
    right: 32%; bottom: 25%;
}
.sec1 .about_tw3 {
    width: 60px;
    position: absolute;
    right: 20%; top: 20%;
    z-index: 1100;
}
.sec1 .about_tw4 {
    width: 40px;
    position: absolute;
    left: 25%; top: 15%;
    z-index: 1100;
}
.sec1 .about_tw5 {
    width: 50px;
    position: absolute;
    right: 10%; top: 58%;
    z-index: 1100;
}
.sec1 .about_tw6 {
    width: 45px;
    position: absolute;
    left: 7%; bottom: 22%;
    z-index: 1100;
}
.sec1 .about_tw7 {
    width: 150px;
    position: absolute;
    left: 55%; bottom: 6%;
    z-index: 1100;
}
.sec1 .about_tw8 {
    width: 150px;
    position: absolute;
    left: 5%; top: 30%;
    z-index: 1100;
}
.sec1 .about_tw9 {
    width: 100px;
    position: absolute;
    right: 3%; bottom: 15%;
    z-index: 1100;
}
.sec1 .about_tw10 {
    width: 70px;
    position: absolute;
    left: 22%; bottom: -6%;
    z-index: 1100;
}
.sec1 .about_tw11 {
    width: 100px;
    position: absolute;
    left: 38%; bottom: 40%;
    z-index: 1100;
}
.sec1 .about_tw12 {
    width: 55px;
    position: absolute;
    left: 12%; top: 5%;
    z-index: 1100;
}
.sec1 .about_tw13 {
    width: 50px;
    position: absolute;
    right: 3%; top: 15%;
    z-index: 1100;
}
.sec1 .about_tw14 {
    width: 40px;
    position: absolute;
    right: 20%; bottom: 53%;
    z-index: 1100;
}

/* sec2 */
.sec2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sec2 .text-wrap {
    padding-top: 29%;
}
.sec2 .text-wrap h1 {
    font-size: 2.4vw;
    font-family: 'Jua', sans-serif;
    line-height: 1.2;
    text-align: center;
    color: #035dff;
}
.sec2 .text-wrap p {
    font-size: 1.2vw;
    font-family: 'S-CoreDream-3Light';
    line-height: 1.5;
    text-align: center;
    padding-top: 6%;
}
.sec2 .text-wrap button {
    position: absolute;
    right: 12.5%; bottom: -92%;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'S-CoreDream-3Light';
    line-height: 1.5;
}
.sec2 .text-wrap button.see-more {
    font-weight: 600;
    text-transform: uppercase;
    padding: 0.3em 1.5em;
    background: #ffe9e9;
    border: 2px solid #F875A2;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}
.sec2 .text-wrap button.see-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
      box-shadow: 0 0 0 2px #F875A2;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.sec2 .text-wrap button.see-more:hover {
    background: #f0d0d0;
    transform: translate(0, 0.25em);
}
.sec2 .text-wrap button.see-more:hover::before {
    box-shadow: 0 0 0 2px #F875A2;
    transform: translate3d(0, 0.5em, -1em);
}
.sec2 .img-wrap .hi_pic {
    width: 300px;
    height: 400px;
}
.sec2 .img-wrap .hi {
    position: absolute;
    left: 21%; top: 147.5%;
    z-index: 20;
    transition: all 0.8s;
    transform: rotate(-3.5deg);
}
.sec2 .img-wrap .hi:nth-child(1) {
    z-index: 20;
}
.sec2 .img-wrap .hi:nth-child(2) {
    z-index: 19;
    opacity: 0;
}
.sec2 .img-wrap .hi:nth-child(3) {
    z-index: 18;
    opacity: 0;
}
.sec2 .img-wrap .img-boxWrap1 {
    width: 448px;
    height: 539px;
    border: 2px solid #000;
    background: #fff;
    transform: rotate(-3.5deg);
    position: absolute;
    left: 19.4%; top: 145%;
    z-index: 10;
}
.sec2 .img-wrap .img-boxWrap2 {
    width: 442px; 
    height: 534px;
    background: #FFB4CD; 
    border: 2px solid #000; 
    transform: rotate(-3.5deg); 
    position: absolute; 
    left: 18%; top: 148%;
    z-index: 9;
}
.sec2 .img-wrap .img-boxWrap3 {
    width: 442px;
    height: 534px;
    border: 2px solid #000;
    background: #c7728e;
    transform: rotate(-3.5deg);
    position: absolute;
    left: 16.8%; top: 151%;
    z-index: 8;
}
.sec2 .circle {
    width: 2vw;
}
.sec2 .circle1 {
    position: absolute;
    left: 9%; top: 140%;
}
.sec2 .circle2 {
    position: absolute;
    left: 9%; top: 210%;
}
.sec2 .circle3 {
    position: absolute;
    right: 9%; top: 140%;
}
.sec2 .circle4 {
    position: absolute;
    right: 9%; top: 210%;
}
.sec2 .crown {
    width: 7.5vw;
    position: absolute;
    left: 36%; top: 139.5%;
    z-index: 21;
}
.sec2 .pageI2 {
    width: 5vw;
    position: absolute;
    left: 15%; top: 180%;
    z-index: 21;
}
.sec2 .pageI2-1 {
    width: 5.5vw;
    position: absolute;
    left: 16%; top: 185%;
    z-index: 21;
}
.sec2 .thing {
    width: 2.5vw;
    position: absolute;
    right: 12%; top: 153%;
    z-index: 21;
}

.sec2 .pageI6 {
    width: 6vw;
    position: absolute;
    right: 30%; top: 200%;
    z-index: 12;
}
.sec2 .pageI7 {
    width: 10vw;
    position: absolute;
    left: 35%; top: 190%;
    z-index: 21;
}
.sec2 .snow1 {
    width: 2vw;
    position: absolute;
    left: 15%; top: 115%;
    z-index: 21;
}
.sec2 .snow2 {
    width: 2.5vw;
    position: absolute;
    right: 45%; top: 120%;
    z-index: 21;
}
.sec2 .snow3 {
    width: 2.5vw;
    position: absolute;
    left: 48%; top: 177%;
    z-index: 21;
}
.sec2 .snow4 {
    width: 3vw;
    position: absolute;
    right: 3%; top: 160%;
    z-index: 21;
}
.sec2 .snow5 {
    width: 2.5vw;
    position: absolute;
    right: 20%; top: 100%;
    z-index: 21;
}
.sec2 .snow6 {
    width: 1.5vw;
    position: absolute;
    right: 0%; top: 120%;
    z-index: 21;
}
/* //sec2 */

/* sec3 */
.sec3 {
    position: relative;
    height: inherit;
    /* background: url(../img/webBack.PNG) no-repeat;
    background-size: cover; */
}
.sec3 .back {
    width: 100%; 
    height: 100%;
}
.sec3 .h1Box {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.sec3 .h1Box1 {
    padding-top: 5%;
}
.sec3 h1 {
    font-size: 12vw;
    text-align: center;
    line-height: 1.2;
    font-family: 'Rammetto One';
    display: inline-block; 
    letter-spacing: -10px;
    -webkit-text-stroke: 3px #000;
    text-shadow: 8px 5px #000,
                 10px 18px #fff;
}
.sec3 h1:nth-child(1) {
    color: #FAC43A;
}
.sec3 h1:nth-child(2) {
    color: #34DCB5;
}
.sec3 h1:nth-child(3) {
    color: #09C2C3;
}
.sec3 h1:nth-child(4) {
    color: #2A71BF;
}
.sec3 h1:nth-child(5) {
    color: #205BC8;
}
.sec3 h1:nth-child(6) {
    color: #DC306C;
}
.sec3 h1:nth-child(7) {
    color: #A22CD0;
}
.sec3 .webi1 {
    width: 35px;
    position: absolute;
    left: 0%; top: 15%;
}
.sec3 .webi2 {
    width: 50px;
    position: absolute;
    left: 30%; bottom: 10%;
}
.sec3 .webi3 {
    width: 40px;
    position: absolute;
    right: 32%; top: 25%;
}
.sec3 .webi4 {
    width: 30px;
    position: absolute;
    right: 10%; bottom: 30%;
}
/* //sec3 */

/* sec4 */
.sec4 {}
.sec4 .sec4-1 {
    position: relative;
    height: 100vh;
    background: #FFB4CD;
}
.sec4 .wrap {
    width: 75vw;
    height: 76vh;
    border: 1px solid #000;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.sec4 .wrap .box1 {
    width: 30vw;
    height: 19vh;
    border: 1px solid #000;
    margin: -1px;
}
.sec4 .wrap .box1 h1 {
    font-size: 2.7vw;
    line-height: 1.1;
    color: #FF6541;
    font-family: 'Rammetto One';
    padding: 1.8% 0 0 15%;
}
.sec4 .wrap .box2 {
    position: relative;
    width: 30vw;
    height: 19vh;
    border: 1px solid #000;
    margin: -1px;
}
.sec4 .wrap .box2 h5 {
    font-size: 1.5vw;
    color: #035DFF;
    font-family: 'Rammetto One';
    padding: 2% 0 0 15%;
}
.sec4 .wrap .box2 .hours {
    width: 3vw;
    height: 2.8vw;
    background: #035DFF;
    color: #fff;
    font-family: 'Rammetto One';
    border-radius: 50%;
    font-size: 1.5vw;
    text-align: center;
    line-height: 1.9;
    position: absolute;
    right: 10%; top: 4%;
}
.sec4 .wrap .box2 img {
    width: 23vw;
    position: absolute;
    left: 14%; bottom: 8%;
}
.sec4 .wrap .box3 {
    position: relative;
    width: 14.9vw;
    height: 38.1vh;
    margin-top: -1px;
    border: 1px solid #000;
    position: absolute;
    left: 40%; top: 0;
    background: #FFF460;
    font-family: 'Rammetto One';
}
.sec4 .wrap .box3 h1 {
    font-size: 2.7vw;
    color: #eb452b;
    text-align: center;
    padding-top: 15%;
}
#switch {
    width: 8.5vw;
    height: 10vh;
    padding: 15px;
    border: 2px solid #000;
    box-sizing: border-box;
    transition: all 0.3s;
    border-radius: 200px;
    cursor: pointer;
    position: absolute;
    left: 22%; top: 35%;
    background: #FF6541;
}
#toggle {
    width: 3.7vw;
    height: 7.4vh;
    background: #FFF460;
    border-radius: 50%;
    transition: all 0.3s;
    position: relative;
    left: -6%; top: -14%;
    border: 4px solid #000;
}
#toggle .toggle {
    width: 3vw;
    height: 6vh;
    background: #fff;
    border: 4px solid #000;
    border-radius: 50%;
    position: absolute;
    left: 3.8%; top: 3.8%; 
}
#switch.hover #toggle {
    left: 43%;
}
.sec4 .wrap .box3 h3 {
    font-size: 2vw;
    color: #eb452b;
    text-align: center;
    padding-top: 49%;
}
.sec4 .wrap .box4 {
    position: relative;
    width: 15vw;
    height: 38.1vh;
    margin: -1px 0 0 -1px;
    border: 1px solid #000;
    position: absolute;
    left: 60%; top: 0;
    background: #fff;
    font-family: 'Rammetto One';
}
.sec4 .wrap .box4 h1 {
    font-size: 2.7vw;
    color: #035DFF;
    text-align: center;
    padding-top: 15%;
}
.sec4 .wrap .box4 #switch {
    background: #FFB4CE;
}
.sec4 .wrap .box4 #toggle {
    background: #035DFF;
}
.sec4 .wrap .box4 h3 {
    font-size: 2vw;
    color: #035DFF;
    text-align: center;
    padding-top: 49%;
}
.sec4 .wrap .box5 {
    position: relative;
    width: 14.95vw;
    height: 38.1vh;
    margin: -1px 0 -1px;
    border: 1px solid #000;
    position: absolute;
    left: 80%; top: 0;
    font-family: 'Rammetto One';
}
.sec4 .wrap .box5 h1 {
    font-size: 3vw;
    color: #035DFF;
    text-align: center;
    text-shadow: 5px 7px #000;
    padding-top: 13%;
}
.sec4 .wrap .box5 .hold {
    width: 4.5vw;
    height: 9vh;
    background: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    position: absolute;
    left: 34%; top: 36%;
}
.sec4 .wrap .box5 .hold p {
    text-align: center;
    font-size: 1vw;
    line-height: 1.3;
    padding-top: 28%;
}
.sec4 .wrap .box5 .hold:hover {
    box-shadow: 5px 5px #000;
    transition: all .4s;
    transform: scale(1.05, 1.05);
}
.sec4 .wrap .box5 h3 {
    font-size: 1.5vw;
    color: #035DFF;
    text-align: center;
    text-shadow: 3px 4px #000;
    padding-top: 51%;
}
.sec4 .wrap .box6 {
    width: 44.95vw;
    height: 37.8vh;
    margin: -1px;
    border: 1px solid #000;
}
.sec4 .wrap .box6 img {
    width: 100%;
    height: 100%;
}
.sec4 .wrap .box7 {
    width: 30vw;
    height: 19vh;
    margin: -1px;
    border: 1px solid #000;
    position: absolute;
    left: 60%; bottom: 24.7%;
    background: #FF6541;
}
.sec4 .wrap .box7 h2 {
    font-size: 1.3vw;
    color: #FFF460;
    font-family: 'S-CoreDream-3Light';
    padding: 3% 0 0 7%;
}
.sec4 .wrap .box8 {
    width: 30vw;
    height: 18.7vh;
    margin: -1px;
    border: 1px solid #000;
    position: absolute;
    left: 60%; bottom: 0%;
}
.sec4 .wrap .box8 p {
    font-size: 1vw;
    line-height: 1.7;
    font-family: 'S-CoreDream-3Light';
    padding: 2% 0 0 7%;
}
.sec4 .ring {
    width: 6vw;
    position: absolute;
    left: 40%; top: 42%;
}
.sec4 .tw {
    width: 5vw;
    position: absolute;
    right: 5%; top: 10%;
}
.sec4 .spring {
    width: 13vw;
    position: absolute;
    left: 7%; bottom: 7%;
}
/* //sec4-1 */
.sec4 .sec4-2 {
    position: relative;
    height: 100vh;
    background: #FFF460;
}
.sec4 .sec4-2 .box1 {
    background: #FFB4CE;
}
.sec4 .sec4-2 .box1 h1 {
    padding-top: 6.5%;
}
.sec4 .sec4-2 .box2 {
    background: #FFB4CE;
}
.sec4 .sec4-2 .box7 h2 {
    padding-top: 6%;
}
.sec4 .sec4-2 .box8 {
    background: #FFB4CE;
}
.sec4 .sec4-2 .box8 p {
    padding-top: 4%;
}
.sec4 .pink {
    width: 5vw;
    position: absolute;
    right: 10%; top: 6%;
}
.sec4 .white1 {
    width: 4vw;
    position: absolute;
    left: 5%; top: 5%;
}
.sec4 .white2 {
    width: 5vw;
    position: absolute;
    right: 3%; bottom: 10%;
}
/* //sec4-2 */
/* sec4-3 */
.sec4 .sec4-3 {
    position: relative;
    height: 100vh;
    background: #FFB4CE;
}
.sec4 .sec4-3 .box1 h1 {
    padding-top: 6.5%;
}
.sec4 .sec4-3 .box7 h2 {
    padding-top: 6%;
}
.sec4 .sec4-3 .box8 p {
    padding-top: 4%;
}
.sec4 .sec4-3 .white3 {
    width: 4vw;
    position: absolute;
    right: 15%; top: 5%;
}
.sec4 .sec4-3 .white4 {
    width: 3vw;
    position: absolute;
    right: 13%; bottom: 9%;
}
.sec4 .sec4-3 .flo {
    width: 6vw;
    position: absolute;
    left: 10%; bottom: 7%;
}
/* //sec4-3 */
/* sec4-4 */
.sec4 .sec4-4 {
    position: relative;
    height: 100vh;
    background: #FFF460;
}
.sec4 .sec4-4 .box1 {
    background: #FFB4CE;
}
.sec4 .sec4-4 .box1 h1 {
    padding-top: 6.5%;
}
.sec4 .sec4-4 .box2 {
    background: #FFB4CE;
}
.sec4 .sec4-4 .box7 h2 {
    padding-top: 6%;
}
.sec4 .sec4-4 .box8 {
    background: #FFB4CE;
}
.sec4 .sec4-4 .white5 {
    width: 3vw;
    position: absolute;
    left: 5%; bottom: 5%;
}
.sec4 .sec4-4 .sun {
    width: 6vw;
    position: absolute;
    left: 10%; top: 6%;
}
.sec4 .sec4-4 .mo {
    width: 5vw;
    position: absolute;
    right: 11%; bottom: 9%;
}
/* //sec4 */

/* sec5 */
.sec5 {
    position: relative;
    height: 700px;
    background: #0E0F33;
    /* background: url(../img/aniBack.png) no-repeat; */
    background-size: cover;
}
.sec5 h1 {
    font-family: 'Rammetto One';
    font-size: 10vw;
    text-align: center;
    padding-top: 12%;
    color: #FFF;
    animation: text-shadow 1s linear infinite;
}
@keyframes text-shadow {
    from, 19.9% {
      text-shadow: 0px 0px #FAC43A, 1px 1px #FAC43A, 2px 2px #FAC43A, 3px 3px #FAC43A, 4px 4px #FAC43A, 5px 5px #FAC43A, 5px 5px #34DCB5, 6px 6px #34DCB5, 7px 7px #34DCB5, 8px 8px #34DCB5, 9px 9px #34DCB5, 10px 10px #34DCB5, 10px 10px #09C2C3, 11px 11px #09C2C3, 12px 12px #09C2C3, 13px 13px #09C2C3, 14px 14px #09C2C3, 15px 15px #09C2C3, 15px 15px #2A71BF, 16px 16px #2A71BF, 17px 17px #2A71BF, 18px 18px #2A71BF, 19px 19px #2A71BF, 20px 20px #2A71BF, 20px 20px #205BC8, 21px 21px #205BC8, 22px 22px #205BC8, 23px 23px #205BC8, 24px 24px #205BC8, 25px 25px #205BC8, 25px 25px #DC306C, 26px 26px #DC306C, 27px 27px #DC306C, 28px 28px #DC306C, 29px 29px #DC306C, 30px 30px #DC306C, 30px 30px #A22CD0, 31px 31px #A22CD0, 32px 32px #A22CD0, 33px 33px #A22CD0, 34px 34px #A22CD0, 35px 35px #A22CD0;
    }
    20%, 39.9% {
      text-shadow: 0px 0px #A22CD0, 1px 1px #A22CD0, 2px 2px #A22CD0, 3px 3px #A22CD0, 4px 4px #A22CD0, 5px 5px #A22CD0, 5px 5px #DC306C, 6px 6px #DC306C, 7px 7px #DC306C, 8px 8px #DC306C, 9px 9px #DC306C, 10px 10px #DC306C, 10px 10px #205BC8, 11px 11px #205BC8, 12px 12px #205BC8, 13px 13px #205BC8, 14px 14px #205BC8, 15px 15px #205BC8, 15px 15px #2A71BF, 16px 16px #2A71BF, 17px 17px #2A71BF, 18px 18px #2A71BF, 19px 19px #2A71BF, 20px 20px #2A71BF, 20px 20px #09C2C3, 21px 21px #09C2C3, 22px 22px #09C2C3, 23px 23px #09C2C3, 24px 24px #09C2C3, 25px 25px #09C2C3, 25px 25px #34DCB5, 26px 26px #34DCB5, 27px 27px #34DCB5, 28px 28px #34DCB5, 29px 29px #34DCB5, 30px 30px #34DCB5, 30px 30px #FAC43A, 31px 31px #FAC43A, 32px 32px #FAC43A, 33px 33px #FAC43A, 34px 34px #FAC43A, 35px 35px #FAC43A;
    }
    40%, 59.9% {
      text-shadow: 0px 0px #34DCB5, 1px 1px #34DCB5, 2px 2px #34DCB5, 3px 3px #34DCB5, 4px 4px #34DCB5, 5px 5px #34DCB5, 5px 5px #09C2C3, 6px 6px #09C2C3, 7px 7px #09C2C3, 8px 8px #09C2C3, 9px 9px #09C2C3, 10px 10px #09C2C3, 10px 10px #2A71BF, 11px 11px #2A71BF, 12px 12px #2A71BF, 13px 13px #2A71BF, 14px 14px #2A71BF, 15px 15px #2A71BF, 15px 15px #205BC8, 16px 16px #205BC8, 17px 17px #205BC8, 18px 18px #205BC8, 19px 19px #205BC8, 20px 20px #205BC8, 20px 20px #DC306C, 21px 21px #DC306C, 22px 22px #DC306C, 23px 23px #DC306C, 24px 24px #DC306C, 25px 25px #DC306C, 25px 25px #A22CD0, 26px 26px #A22CD0, 27px 27px #A22CD0, 28px 28px #A22CD0, 29px 29px #A22CD0, 30px 30px #A22CD0, 30px 30px #205BC8, 31px 31px #205BC8, 32px 32px #205BC8, 33px 33px #205BC8, 34px 34px #205BC8, 35px 35px #205BC8;
    }
    60%, 79.9% {
      text-shadow: 0px 0px #DC306C, 1px 1px #DC306C, 2px 2px #DC306C, 3px 3px #DC306C, 4px 4px #DC306C, 5px 5px #DC306C, 5px 5px #205BC8, 6px 6px #205BC8, 7px 7px #205BC8, 8px 8px #205BC8, 9px 9px #205BC8, 10px 10px #205BC8, 10px 10px #2A71BF, 11px 11px #2A71BF, 12px 12px #2A71BF, 13px 13px #2A71BF, 14px 14px #2A71BF, 15px 15px #2A71BF, 15px 15px #09C2C3, 16px 16px #09C2C3, 17px 17px #09C2C3, 18px 18px #09C2C3, 19px 19px #09C2C3, 20px 20px #09C2C3, 20px 20px #34DCB5, 21px 21px #34DCB5, 22px 22px #34DCB5, 23px 23px #34DCB5, 24px 24px #34DCB5, 25px 25px #34DCB5, 25px 25px #FAC43A, 26px 26px #FAC43A, 27px 27px #FAC43A, 28px 28px #FAC43A, 29px 29px #FAC43A, 30px 30px #FAC43A, 30px 30px #A22CD0, 31px 31px #A22CD0, 32px 32px #A22CD0, 33px 33px #A22CD0, 34px 34px #A22CD0, 35px 35px #A22CD0;
    }
    80%, to {
      text-shadow: 0px 0px #2A71BF, 1px 1px #2A71BF, 2px 2px #2A71BF, 3px 3px #2A71BF, 4px 4px #2A71BF, 5px 5px #2A71BF, 5px 5px #205BC8, 6px 6px #205BC8, 7px 7px #205BC8, 8px 8px #205BC8, 9px 9px #205BC8, 10px 10px #205BC8, 10px 10px #DC306C, 11px 11px #DC306C, 12px 12px #DC306C, 13px 13px #DC306C, 14px 14px #DC306C, 15px 15px #DC306C, 15px 15px #A22CD0, 16px 16px #A22CD0, 17px 17px #A22CD0, 18px 18px #A22CD0, 19px 19px #A22CD0, 20px 20px #A22CD0, 20px 20px #FAC43A, 21px 21px #FAC43A, 22px 22px #FAC43A, 23px 23px #FAC43A, 24px 24px #FAC43A, 25px 25px #FAC43A, 25px 25px #34DCB5, 26px 26px #34DCB5, 27px 27px #34DCB5, 28px 28px #34DCB5, 29px 29px #34DCB5, 30px 30px #34DCB5, 30px 30px #09C2C3, 31px 31px #09C2C3, 32px 32px #09C2C3, 33px 33px #09C2C3, 34px 34px #09C2C3, 35px 35px #09C2C3;
    }
  }
.sec5 .wtw1 {
    width: 3vw;
    position: absolute;
    left: 5%; top: 10%;
} 
.sec5 .wtw2 {
    width: 2vw;
    position: absolute;
    right: 5%; bottom: 10%;
} 