@font-face {
    font-family: 'S-CoreDream-4Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-1Thin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {}
.container {width: 1500px; margin: 0 auto;}
#header {width: 100%; height: 90vh; background-color: #000; font-family: 'Noto Sans JP', sans-serif;}
#nav {position: fixed; text-align: right; top: 13%; right: 10%; z-index: 10000;}
#section1 {width: 100%; height: 100vh; font-family: 'Noto Sans JP', sans-serif; position: fixed; top: 0; z-index: -1;}
#section2 {width: 100%; height: 80vh; font-family: 'Noto Sans JP', sans-serif; margin-top: 60%;}
#section3 {width: 100%; font-family: 'Noto Sans JP', sans-serif;}

/* header */
#header h1 {color: #fff; font-size: 4vw; font-weight: 300; padding: 18% 0 0 10%;}
/* //header */

#nav a p {color: #fff; font-size: 0.9vw; display: inline-block;}
#nav a span::before {content: ''; width: 1.2vw; height: 1px; background: #fff; position: absolute; right: -2vw; top: 14px;}
#nav a span::after {content: ''; width: 1.2vw; height: 1px; background: #fff; position: absolute; right: -2vw; bottom: 7px;}
/* //nav */

/* section */
.sec1 {height: inherit; background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);}
.sec1 h1 {color: #fff; font-size: 6vw; font-weight: 300; text-align: center; padding-top: 15%;}
/* //sec1 */

.sec2 {height: inherit; background: #000;}
.sec2 h1 {color: #fff; font-size: 5vw; font-weight: 300; text-align: center; padding-top: 10%;}

.box {font-family: 'S-CoreDream-4Regular'; display: flex; align-items: center; justify-content: space-around; margin-top: 10%;}

.sec2 .left {flex: 0 0 38%; height: 25vw;}
.sec2 .left h2 {font-size: 1.2vw; color: #fff; word-break: keep-all; padding-top: 5%;}
.sec2 .left p {font-family: 'S-CoreDream-1Thin'; font-size: 0.9vw; color: #fff; word-break: keep-all; padding-top: 10%;}
.sec2 .left a {display: inline-block; width: 260px; height: 77px; border: 1px solid #777; background: #000; color: #fff; font-size: 16px; text-align: center; line-height: 4.5; margin-top: 12%;}
.sec2 .left .btn1{margin-right: 5%;}
.sec2 .left .btn2{}
.sec2 .right{flex: 0 0 38%; height: 25vw; border: 1px solid #777;}
/* //sec2 */

.sec3 {height: 100vh; background: #555;}
/* //section */


