@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {width: 100%; height: 20000px;}
/* scroll */
.scroll {
    width: 60px; 
    height: 60px; 
    background: #fff; 
    border-radius: 50%; 
    position: fixed; 
    left: 1%; top: 2%;
    text-align: center;
    line-height: 3;
    font-size: 18px;
    z-index: 100000;
}
/* //scroll */


#section1 {width: 100%; height: 100vh; background: #000; position: fixed; z-index: 1;}
#section2 {width: 100%; height: 100vh; background: #fff; position: fixed;}




/* section1 */
.section1 {height: inherit; text-align: center; display: flex; align-items: center; justify-content: center;}
.section1 svg {height: 100vh;}
.section1 svg text {font-size: 33px; fill: #fff; letter-spacing: 16px; font-family: 'Playfair Display', serif;}
.section1 .main_pic {width: 350px; height: 350px;  background: url(../img12/main_pic.png) no-repeat;  background-size: cover; border-radius: 50%; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.section1 h1 {font-size: 2vw; color: #fff; white-space: nowrap; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);}
/* //section1 */

/* section2 */
.section2 {height: inherit;}
.section2 .move {height: 100vh; width: 3950px; background: #fff; position: relative; transition: all 0.1s;}
.section2 .move h1 {font-size: 10vw; white-space: nowrap; font-family: 'Montserrat', sans-serif; position: absolute; left: 10%; top: 38%; z-index: 100;}
.section2 .move .about1 {width: 440px; height: 280px; background: #fff; display: flex; align-items: center; justify-content: space-between; position: absolute; left: 5%; top: 3%;}
.section2 .move .about1 .about1_pic {width: 220px; height: 280px; background: #555;}
.section2 .move .about1 h3 {font-size: 2.2vw; font-family: 'Playfair Display', serif; line-height: 1;}
.section2 .move .about1 h3 span {font-size: 1.2vw; font-family: 'Chosunilbo_myungjo';}

.section2 .move .about2 {width: 500px; height: 350px; background: #fff; display: flex; align-items: center; justify-content: space-between; position: absolute; left: 26%; top: 0%;}
.section2 .move .about2 .about2_pic {width: 290px; height: 350px; background: #555;}
.section2 .move .about2 h3 {font-size: 2.2vw; font-family: 'Playfair Display', serif; line-height: 1;}
.section2 .move .about2 h3 span {font-size: 1.2vw; font-family: 'Chosunilbo_myungjo';}

.section2 .move .about3 {width: 510px; height: 300px; background: #fff; display: flex; align-items: center; justify-content: space-between; position: absolute; left: 1%; bottom: 2%;}
.section2 .move .about3 .about3_pic {width: 245px; height: 300px; background: #555;}
.section2 .move .about3 h3 {font-size: 2.2vw; font-family: 'Playfair Display', serif; line-height: 1;}
.section2 .move .about3 h3 span {font-size: 1.2vw; font-family: 'Chosunilbo_myungjo';}

.section2 .move .html {width: 520px; height: 250px; background: #fff; display: flex; align-items: center; justify-content: space-between; position: absolute; left: 35%; bottom: 3%;}
.section2 .move .html .html_pic {width: 400px; height: 250px; background: #555; margin-right: 20px;}
.section2 .move .html h3 {font-size: 2.2vw; font-family: 'Playfair Display', serif; line-height: 1;}
.section2 .move .html h3 span {font-size: 1.2vw; font-family: 'Chosunilbo_myungjo'; word-break: break-all;}

.section2 .move .css {width: 520px; height: 300px; background: #fff; display: flex; align-items: center; justify-content: space-between; position: absolute; left: 52%; top: 3%;}
.section2 .move .css .css_pic {width: 250px; height: 300px; background: #555; margin-right: 20px;}
.section2 .move .css h3 {font-size: 2.2vw; font-family: 'Playfair Display', serif; line-height: 1;}
.section2 .move .css h3 span {font-size: 1.2vw; font-family: 'Chosunilbo_myungjo'; word-break: break-all;}

.section2 .move .javascript {width: 530px; height: 280px; background: #fff; display: flex; align-items: center; justify-content: space-between; position: absolute; left: 68%; bottom: 7%;}
.section2 .move .javascript .java_pic {width: 350px; height: 280px; background: #555; margin-right: 20px;}
.section2 .move .javascript h3 {font-size: 2.2vw; font-family: 'Playfair Display', serif; line-height: 1;}
.section2 .move .javascript h3 span {font-size: 1.2vw; font-family: 'Chosunilbo_myungjo'; word-break: break-all;}

.section2 .move .jquery {width: 550px; height: 300px; background: #fff; display: flex; align-items: center; justify-content: space-between; position: absolute; left: 85%; top: 10%;}
.section2 .move .jquery .jquery_pic {width: 280px; height: 300px; background: #555; margin-right: 20px;}
.section2 .move .jquery h3 {font-size: 2.2vw; font-family: 'Playfair Display', serif; line-height: 1;}
.section2 .move .jquery h3 span {font-size: 1.2vw; font-family: 'Chosunilbo_myungjo'; word-break: break-all;}
/* //section2 */