@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* layout */
#contents {}
#section1 {
    height: 100vgh;
    background-image: linear-gradient(to bottom, #FFB4CD 80%, #FFF460 80%);
}
#section2 {
    height: 2000px;
    background: #FFF460;
}
#section3 {}
#section4 {}
#section5 {}
#section6 {}

/* container */
.container {}

/* header */
#header {
    position: fixed; 
    left: 0; top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#header h1 {
    padding: 20px;
    font-size: 39px;
    font-family: 'NanumSquareRound';
    font-weight: bold;
}
#header .nav ul {
    padding: 10px;
}
#header .nav li {
    display: inline;
}
#header .nav li a {
    font-family: 'NanumSquareRound';
    font-size: 20px;
    padding: 20px;
    display: inline-block;
}

/* sec1 */
.sec1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec1 h1 {
    position: absolute; 
    left: 50%; top: 30%;
    transform: translate(-50%, -50%);

    font-family: 'Rammetto One';
    color: #fff;
    z-index: 1100;
    white-space: nowrap;
    text-align: center;
    font-size: 8rem;
    line-height: 1.3;
    text-align: center;
    color: #fcedd8;
    letter-spacing: 3px;
    font-weight: 500;
    text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b;
}
    

.sec1 .img {
    position: absolute; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #fff;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b;
}
.sec1 .img.img1 {
    width: 400px;
    border-radius: 300px;
    top: 70%;
    
}
.sec1 .img.img2 {
    width: 300px;
    left: 20vw;
    top: 70%;
}
.sec1 .img.img3 {
    width: 200px;
    left: auto; right: 10%;
    top: 50%;
}








