@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&display=swap');


.scroll {
    position: fixed;
    left: 10px; top: 10px;
    z-index: 10000;
    width: 40px; height: 40px;
    background: #fff;
    border: 1px solid #000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

/* fixed */
.fixed {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

/* section1 */
#section1 {
    height: 5000px;
    background: #000;
}
.main-text svg {
    width: 100vw;
    height: 100vh;
}
.main-text svg text {
    font-size: 37px; 
    fill: #fff; 
    letter-spacing: .3em; 
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-weight: 100;
}