@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#section1 {
    height: 100vh;
    background-image: linear-gradient(to bottom, #FFB4CD 80%, #FFF460 20%);
}

#section2 {
    height: 1500px;
    background: #FFF460;
}

#section3 {
    height: 878px;
}

#section4 {
    height: 4679px;
    background: #000;
}
#section5 {}
#section6 {}

/* content */
#content {}

/* header */
#header {
    width: 100%;
    position: fixed;
    left: 0; top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1000000;
}
#header h1 {
    font-size: 2vw;
    line-height: 0.9;
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    letter-spacing: -2px;
    padding: 20px;
}
#header h1 span:last-child {
    padding-left: 2vw;
}
#header nav {}
#header nav ul {
    padding: 20px;
}
#header nav ul li {
    display: inline-block;
}
#header nav ul li a {
    padding: 2.2vw;
    font-size: 0.8vw;
    font-family: 'Rammetto One';
}
nav .about_1 {
    width: 20px;
    position: absolute;
    left: 54%; top: 20%;
}
nav .about_2 {
    width: 23px;
    position: absolute;
    right: 36.3%; top: 17%;
}
nav .about_3 {
    width: 20px;
    position: absolute;
    right: 27.3%; top: 20%;
}
nav .about_4 {
    width: 20px;
    position: absolute;
    right: 16.5%; top: 20%;
}
nav .about_5 {
    width: 20px;
    position: absolute;
    right: 8.2%; top: 20%;
}
/* //header */

/* sec1 */
.sec1 h1 {
    font-size: 5vw;
    font-family: 'Rammetto One';
    text-align: center;
    line-height: 1.2;
    position: absolute; 
    left: 50%; top: 30%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 1000;
    color: #fcedd8;
    text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #035dff;
}
.sec1 .img1 img {
    width: 370px;
    height: 500px;
    position: absolute;
    left: 50%; top: 70%;
    transform: translate(-50%, -50%);
    border-radius: 205px;
    border: 5px solid #fff;
    box-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939; 
}
.sec1 .img2 img {
    width: 300px;
    position: absolute;
    left: 10vw;
    top: 50%;
    border-radius: 50px;
    border: 5px solid #fff;
    box-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939; 
}
.sec1 .img3 img {
    width: 200px;
    position: absolute;
    left: auto; right: 10%;
    top: 30%;
    border-radius: 33px;
    border: 5px solid #fff;
    box-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939; 
}
.sec1 .about_tw1 {
    width: 40px;
    position: absolute;
    left: 30%; top: 45%;
    z-index: 1100;
}
.sec1 .about_tw2 {
    width: 50px;
    position: absolute;
    right: 32%; bottom: 25%;
}
.sec1 .about_tw3 {
    width: 60px;
    position: absolute;
    right: 20%; top: 20%;
    z-index: 1100;
}
.sec1 .about_tw4 {
    width: 40px;
    position: absolute;
    left: 25%; top: 15%;
    z-index: 1100;
}
.sec1 .about_tw5 {
    width: 50px;
    position: absolute;
    right: 10%; top: 58%;
    z-index: 1100;
}
.sec1 .about_tw6 {
    width: 45px;
    position: absolute;
    left: 7%; bottom: 22%;
    z-index: 1100;
}
.sec1 .about_tw7 {
    width: 150px;
    position: absolute;
    left: 55%; bottom: 6%;
    z-index: 1100;
}
.sec1 .about_tw8 {
    width: 150px;
    position: absolute;
    left: 5%; top: 30%;
    z-index: 1100;
}
.sec1 .about_tw9 {
    width: 100px;
    position: absolute;
    right: 3%; bottom: 15%;
    z-index: 1100;
}
.sec1 .about_tw10 {
    width: 70px;
    position: absolute;
    left: 22%; bottom: 9%;
    z-index: 1100;
}
.sec1 .about_tw11 {
    width: 100px;
    position: absolute;
    left: 38%; bottom: 40%;
    z-index: 1100;
}
.sec1 .about_tw12 {
    width: 55px;
    position: absolute;
    left: 12%; top: 5%;
    z-index: 1100;
}
.sec1 .about_tw13 {
    width: 50px;
    position: absolute;
    right: 3%; top: 15%;
    z-index: 1100;
}
.sec1 .about_tw14 {
    width: 40px;
    position: absolute;
    right: 20%; bottom: 53%;
    z-index: 1100;
}

/* sec2 */
.sec2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sec2 .text-wrap {
    padding-top: 37%;
    padding-right: 5%;
}
.sec2 .text-wrap h1 {
    font-size: 2.4vw;
    font-family: 'Jua', sans-serif;
    line-height: 1.2;
    text-align: center;
    color: #035dff;
}
.sec2 .text-wrap p {
    font-size: 1.2vw;
    font-family: 'S-CoreDream-3Light';
    line-height: 1.5;
    text-align: center;
    padding-top: 6%;
}
:root {
    --ease: cubic-bezier(0.29, 0.57, 0.12, 0.99);
    --duration: .6s;
    --size: 800px;
    --scaleMask: 1;
    --scaleBtn: 1;
}
@media (max-width: 900px) {
    :root {
    --size: 600px;
    --scaleMask: .75;
    --scaleBtn: .8;
    }
}
@media (max-width: 700px) {
    :root {
    --size: 400px;
    --scaleMask: .5;
    --scaleBtn: .7;
    }
}
@media (max-width: 500px) {
    :root {
    --size: 300px;
    --scaleMask: .375;
    --scaleBtn: .6;
    }
}

.carousel {
    padding-top: 10%;
    position: relative;
    z-index: 1;
    width: var(--size);
    height: var(--size);
}
.carousel--play {
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 1.9;
    text-align: center;
    text-transform: uppercase;
    padding: 0.3em 0.7em;
    background: #ffe9e9;
    border: 2px solid #F875A2;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    width: 5vw;
    height: 5vh;
    position: absolute;
    left: 10%; bottom: -9%;
    z-index: 1500;
    font-family: 'NanumSquareRound';
}
.carousel--play:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9c4d2;
    border-radius: inherit;
    box-shadow: 0 0 0 1px #F875A2;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}
.carousel--play:active {
    transform: scale(calc(var(--scaleBtn) * .9)) rotate(-5deg);
}
.carousel svg {
    position: absolute;
    z-index: 1;
    bottom: -35%;
    left: 0;
    width: 100%;
    height: 100%;
    fill: #f9c4d2;
    pointer-events: none;
}
.carousel svg #mask {
    transform: scale(var(--scaleMask));
}
.carousel--images {
    position: absolute;
    z-index: 2;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-clip-path: url(#mask);
    clip-path: url(#mask);
    overflow: hidden;
}
.carousel img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    transition: opacity var(--duration) var(--ease), transform var(--duration) var(--ease);
    opacity: 0;
    transform: scale(0.9) translateZ(0);
}
.carousel img.active {
    transform: scale(1) translateZ(0);
    opacity: 1;
}
.sec2 .circle {
    width: 30px;
}
.sec2 .circle1 {
    position: absolute;
    left: 9%; top: 150%;
}
.sec2 .circle2 {
    position: absolute;
    left: 9%; top: 230%;
}
.sec2 .circle3 {
    position: absolute;
    right: 9%; top: 150%;
}
.sec2 .circle4 {
    position: absolute;
    right: 9%; top: 230%;
}
.sec2 .crown {
    width: 150px;
    position: absolute;
    left: 30%; top: 150%;
    z-index: 21;
}
.sec2 .pageI2 {
    width: 110px;
    position: absolute;
    left: 5%; top: 180%;
    z-index: 21;
}
.sec2 .pageI2-1 {
    width: 100px;
    position: absolute;
    left: 6%; top: 185%;
    z-index: 21;
}
.sec2 .thing {
    width: 50px;
    position: absolute;
    right: 9%; top: 168%;
    z-index: 21;
}

.sec2 .pageI6 {
    width: 120px;
    position: absolute;
    right: 12%; top: 210%;
    z-index: 12;
}
.sec2 .pageI7 {
    width: 200px;
    position: absolute;
    left: 32%; top: 210%;
    z-index: 21;
}
.sec2 .snow1 {
    width: 30px;
    position: absolute;
    left: 15%; top: 110%;
    z-index: 21;
}
.sec2 .snow2 {
    width: 40px;
    position: absolute;
    right: 45%; top: 120%;
    z-index: 21;
}
.sec2 .snow3 {
    width: 40px;
    position: absolute;
    left: 50%; top: 177%;
    z-index: 21;
}
.sec2 .snow4 {
    width: 50px;
    position: absolute;
    right: 3%; top: 160%;
    z-index: 21;
}
/* //sec2 */

/* sec3 */
.sec3 {
    position: relative;
    height: 878px;
    background: url(../img/webBack.PNG) no-repeat;
    background-size: cover;
}
.sec3 .h1Box {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.sec3 .h1Box1 {
    padding-top: 5%;
}
.sec3 h1 {
    font-size: 12vw;
    text-align: center;
    line-height: 1.2;
    font-family: 'Rammetto One';
    display: inline-block; 
    letter-spacing: -10px;
    -webkit-text-stroke: 3px #000;
    text-shadow: 8px 5px #000,
                 10px 18px #fff;
}
.sec3 h1:nth-child(1) {
    color: #efa032;
}
.sec3 h1:nth-child(2) {
    color: #46b59b;
}
.sec3 h1:nth-child(3) {
    color: #017e7f;
}
.sec3 h1:nth-child(4) {
    color: #1f446d;
}
.sec3 h1:nth-child(5) {
    color: #0139a1;
}
.sec3 h1:nth-child(6) {
    color: #b81a51;
}
.sec3 h1:nth-child(7) {
    color: #8c21b6;
}
.sec3 .webi1 {
    width: 35px;
    position: absolute;
    left: 0%; top: 15%;
}
.sec3 .webi2 {
    width: 50px;
    position: absolute;
    left: 30%; bottom: 10%;
}
.sec3 .webi3 {
    width: 40px;
    position: absolute;
    right: 32%; top: 25%;
}
.sec3 .webi4 {
    width: 30px;
    position: absolute;
    right: 10%; bottom: 30%;
}
/* //sec3 */

/* sec4 */
.sec4 {}
.sec4 .sec4-1 {
    position: relative;
    height: 100vh;
    background: #FFB4CD;
}
.sec4 .wrap {
    width: 75vw;
    height: 76vh;
    border: 1px solid #000;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.sec4 .wrap .box1 {
    width: 30vw;
    height: 19vh;
    border: 1px solid #000;
    margin: -1px;
}
.sec4 .wrap .box1 h1 {
    font-size: 2.7vw;
    line-height: 1.1;
    color: #FF6541;
    font-family: 'Rammetto One';
    padding: 1.8% 0 0 15%;
}
.sec4 .wrap .box2 {
    position: relative;
    width: 30vw;
    height: 19vh;
    border: 1px solid #000;
    margin: -1px;
}
.sec4 .wrap .box2 h5 {
    font-size: 1.5vw;
    color: #035DFF;
    font-family: 'Rammetto One';
    padding: 2% 0 0 15%;
}
.sec4 .wrap .box2 .hours {
    width: 3vw;
    height: 2.8vw;
    background: #035DFF;
    color: #fff;
    font-family: 'Rammetto One';
    border-radius: 50%;
    font-size: 1.5vw;
    text-align: center;
    line-height: 1.9;
    position: absolute;
    right: 10%; top: 4%;
}
.sec4 .wrap .box2 img {
    width: 23vw;
    position: absolute;
    left: 14%; bottom: 8%;
}
.sec4 .wrap .box3 {
    position: relative;
    width: 14.9vw;
    height: 38.1vh;
    margin-top: -1px;
    border: 1px solid #000;
    position: absolute;
    left: 40%; top: 0;
    background: #FFF460;
    font-family: 'Rammetto One';
}
.sec4 .wrap .box3 h1 {
    font-size: 2.7vw;
    color: #eb452b;
    text-align: center;
    padding-top: 15%;
}
.sec4 .wrap .box3 .htmlB {
    width: 9vw;
    position: absolute;
    left: 20%; bottom: 35%;
}
.sec4 .wrap .box3 h3 {
    font-size: 2vw;
    color: #eb452b;
    text-align: center;
    padding-top: 50%;
}
.sec4 .wrap .box4 {
    position: relative;
    width: 15vw;
    height: 38.1vh;
    margin: -1px 0 0 -1px;
    border: 1px solid #000;
    position: absolute;
    left: 60%; top: 0;
    background: #fff;
    font-family: 'Rammetto One';
}
.sec4 .wrap .box4 h1 {
    font-size: 2.7vw;
    color: #035DFF;
    text-align: center;
    padding-top: 15%;
}
.sec4 .wrap .box4 .cssB {
    width: 9vw;
    position: absolute;
    left: 20%; bottom: 35%;
}
.sec4 .wrap .box4 h3 {
    font-size: 2vw;
    color: #035DFF;
    text-align: center;
    padding-top: 50%;
}
.sec4 .wrap .box5 {
    position: relative;
    width: 14.95vw;
    height: 38.1vh;
    margin: -1px 0 -1px;
    border: 1px solid #000;
    position: absolute;
    left: 80%; top: 0;
    font-family: 'Rammetto One';
}
.sec4 .wrap .box5 h1 {
    font-size: 3vw;
    color: #035DFF;
    text-align: center;
    text-shadow: 5px 7px #000;
    padding-top: 13%;
}
.sec4 .wrap .box5 .clickB {
    width: 6vw;
    position: absolute;
    left: 30%; bottom: 34%;
}
.sec4 .wrap .box5 h3 {
    font-size: 1.5vw;
    color: #035DFF;
    text-align: center;
    text-shadow: 3px 4px #000;
    padding-top: 51%;
}
.sec4 .wrap .box6 {
    width: 44.95vw;
    height: 37.8vh;
    margin: -1px;
    border: 1px solid #000;
}
.sec4 .wrap .box6 img {
    width: 100%;
    height: 100%;
}
.sec4 .wrap .box7 {
    width: 30vw;
    height: 19vh;
    margin: -1px;
    border: 1px solid #000;
    position: absolute;
    left: 60%; bottom: 24.7%;
    background: #FF6541;
}
.sec4 .wrap .box7 h2 {
    font-size: 1.3vw;
    color: #FFF460;
    font-family: 'S-CoreDream-3Light';
    padding: 3% 0 0 7%;
}
.sec4 .wrap .box8 {
    width: 30vw;
    height: 18.7vh;
    margin: -1px;
    border: 1px solid #000;
    position: absolute;
    left: 60%; bottom: 0%;
}
.sec4 .wrap .box8 p {
    font-size: 1vw;
    line-height: 1.7;
    font-family: 'S-CoreDream-3Light';
    padding: 2% 0 0 7%;
}
.sec4 .ring {
    width: 6vw;
    position: absolute;
    left: 40%; top: 42%;
}
.sec4 .tw {
    width: 5vw;
    position: absolute;
    right: 5%; top: 10%;
}
.sec4 .spring {
    width: 13vw;
    position: absolute;
    left: 7%; bottom: 7%;
}

.sec4 .sec4-2 {
    position: relative;
    height: 100vh;
    background: #FFF460;
}
/* //sec4 */