/* layout */
#wrap {margin: 0; padding: 0; overflow: hidden;}
#main {width: 100%;height: 1107px; background: #035dff;}
#about {width: 100%; height: 1830px;}
#website {width: 100%; height: 5552px;}
#animation {width: 100%; height: 3363px;}
#script {width: 100%; height: 2185px;}
#contact {width: 100%; height: 976px; background: #ffb4ce;}
#end {width: 100%; height: 1020px;}

/* main */
.logoBox .logo {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.logoBox .icon1 {position: absolute; left: 33%; top: 33%;}
.logoBox .icon2 {position: absolute; right: 28%; top: 50%;}
.logoBox .icon3 {position: absolute; left: 28%; top: 45%;}
.logoBox .icon4 {position: absolute; right: 34%; top: 27%;}
.logoBox .icon5 {position: absolute; right: 33%; bottom: 30%;}
.logoBox .icon6 {position: absolute; left: 33%; bottom: 29%;}

/* about */
.top {position: relative; height: 654px; background:#ffb4ce; font-family: 'Rammetto One', cursive;}
.top img {position: absolute; left: 15%; top: 0;}
.top ul {text-align: right; padding-right: 15%;font-size: 15px; letter-spacing: 0.75px;}
.top ul li {display: inline-block; padding: 2% 0 0 5%;}
.top .about_icon1 {position: absolute; left: 42%; top: 5%;}
.top .about_icon2 {position: absolute; left: 50%; top: 4.5%;}
.top .about_icon3 {position: absolute; left: 59.5%; top: 5%;}
.top .about_icon4 {position: absolute; left: 70.2%; top: 5%;}
.top .about_icon5 {position: absolute; left: 78.2%; top: 4.5%;}
.top .about_tw1 {position: absolute; left: 23%; top: 27%;}
.top .about_tw2 {position: absolute; left: 30%; top: 65%;}
.top .about_tw3 {position: absolute; left: 65%; top: 80%;}
.top .img_box {width: 245px; height: 354px; border-radius: 50px; background: url(img/top_img.png) no-repeat; position: absolute; right: 14%; top: 20%;}
.top h1 {font-size: 85px; line-height: 1; color: #035dff; text-align: center; letter-spacing: 4.25px; position: absolute; left: 20%; top: 32%; z-index: 1000;}

.img_box1 {width: 512px; height: 800px; border-radius: 300px; background: url(img/main_img.png) no-repeat; position: absolute; left: 37%; top: 146%; z-index: 900;}
.img_box1 p {font-family: 'Nothing You Could Do', cursive; font-size: 40px; color: #fff; letter-spacing: 2px; transform: rotate(-30deg); position: absolute; left: 27%; bottom: 25%;}
.img_box2 {width: 373px; height: 461px; border-radius: 50px; background: url(img/left_img.jpg) no-repeat; background-size: cover; position: absolute; left: 8.5%; top: 160%; z-index: 1700;}
.spin_icon {width: 193px; height: 193px; background: url(img/spin.png) no-repeat; position: absolute; right: 20%; bottom: -92%; z-index: 1700;}

.bottom {position: relative; height: 1176px; background:#fff460;}
.bottom .cir1 {position: absolute; left: 10%; top: 35%;}
.bottom .cir2 {position: absolute; left: 10%; bottom: 5%;}
.bottom .cir3 {position: absolute; right: 10%; top: 35%;}
.bottom .cir4 {position: absolute; right: 10%; bottom: 5%;}
.bottom .crown {position: absolute; left: 32.5%; top: 37%; z-index: 1700;}
.bottom .pic1 {width: 420px; height: 519px; background: url(img/hi_pic.png) no-repeat; background-size: contain; transform: rotate(-0.4deg); position: absolute; left: 15.7%; bottom: 15%; z-index: 1600;}
.bottom .pic2 {width: 442px; height: 534px; background: #fff; border: 1px solid #000; transform: rotate(-4deg); position: absolute; left: 15%; bottom: 15%; z-index: 1500;}
.bottom .pic3 {width: 442px; height: 534px; background: #ffb4ce; border: 1px solid #000; transform: rotate(-4deg); position: absolute; left: 14%; bottom: 13%; z-index: 1400;}
.bottom .pic4 {width: 442px; height: 534px; background: #ffb4ce; border: 1px solid #000; transform: rotate(-4deg); position: absolute; left: 13%; bottom: 11%; z-index: 1300;}
.bottom h1 {width: 45%; font-family: 'Jua', sans-serif; font-size: 55px; color: #035dff; text-align: center; margin-left: 43%; padding-top: 28%; line-height: 1.2;}
.bottom h5 {width: 50%; font-family: 'S-CoreDream-3Light'; font-size: 28px; text-align: center; font-weight: normal; line-height: 1.61; margin-left: 40.5%; padding-top: 4%;}

/* website */
.getstart {position: relative; height: 880px; background: url(img/webBack.PNG) no-repeat; background-size: cover; margin: 0; padding: 0;}
.getstart h1 {font-size: 200px; text-align: center; font-family: 'Rammetto One', cursive; line-height: 1.3; padding-top: 9%;}
.getstart .webi {position: absolute; left: 13%; top: 25%;}

.website1 {position: relative; height: 1168px; background: #ffb4ce; font-family: 'Rammetto One', cursive;}

.website1 .icon1-1 {position: absolute; right: 7%; top: 15%; z-index: 1;}
.website1 .icon1-2 {position: absolute; left: 5%; bottom: 10%; z-index: 1;}
.website1 .icon1-3 {position: absolute; left: 40%; top: 41%; z-index: 1;}

.site-wrap {width: 1450px; height: 833px; border: 1px solid #000; position: relative; left: 12.3%; top: 14%;}
.site-wrap .box1 {width: 574px; height: 216px; border: 1px solid #000; margin: -1px;}
.site-wrap .box2 {width: 574px; height: 194px; border: 1px solid #000; margin: -1px;}
.site-wrap .box3 {width: 291px; height: 411px; border: 1px solid #000; position: absolute; left: 39.6%; top: -0.1%; background-color: #fff460;}
.site-wrap .box4 {width: 291px; height: 411px; border: 1px solid #000; position: absolute; left: 59.7%; top: -0.1%; background-color: #fff;}
.site-wrap .box5 {width: 292px; height: 411px; border: 1px solid #000; position: absolute; left: 79.8%; top: -0.1%; background-color: #035dff;}
.site-wrap .box6 {width: 583px; height: 206px; border: 1px solid #000; position: absolute; right: -0.05%; top: 49.4%; background-color: #ff6541;}
.site-wrap .box7 {width: 583px; height: 214px; border: 1px solid #000; position: absolute; right: -0.05%; top: 74.3%;}
.webstandard img {border: 1px solid #000; margin: -1px;}

.site-wrap .box1 h1 {font-size: 55px; color: #ff6541; line-height: 1.1; margin: 3.5% 0 0 10%; display: inline-block;}
.site-wrap .box2 p {font-size: 25px; color: #035dff; margin: 3% 0 0 10%;}
.site-wrap .box2 .hours {width: 45px; height: 45px; background: #035dff; border-radius: 50%; position: absolute; left: 30%; top: 28%;}
.site-wrap .box2 .hours p {color: #fff; text-align: center; margin-left: 0; line-height: 1.9;}
.site-wrap .box2 .hoursi {position: absolute; left: 4%; top: 35%;}
.site-wrap .box3 h1 {font-size: 50px; text-align: center; color: #ff6541; letter-spacing: -1; padding-top: 25%;}
.site-wrap .box3 h4 {font-size: 40px; text-align: center; color: #ff6541; padding-top: 47%;}
.site-wrap .box3 .htmlBtn {position: absolute; left: 25%; top: 45%;}
.site-wrap .box4 h1 {font-size: 50px; text-align: center; color: #035dff; letter-spacing: -1; padding-top: 25%;}
.site-wrap .box4 h4 {font-size: 40px; text-align: center; color: #035dff; padding-top: 47%;}
.site-wrap .box4 .cssBtn {position: absolute; left: 25%; top: 45%;}
.site-wrap .box5 h1 {font-size: 60px; text-align: center; color: #fff; letter-spacing: -1; padding-top: 21%; text-shadow: 5px 6px 0 #000;}
.site-wrap .box5 h4 {font-size: 30px; text-align: center; color: #fff; padding-top: 47%; text-shadow: 3px 5px 0 #000;}
.site-wrap .box5 .clickBtn {position: absolute; left: 35%; top: 45%;}
.site-wrap .box6 h5 {font-size: 28px; font-family: 'S-CoreDream-3Light'; line-height: 1.36; color: #fff460; margin: 4.5% 0 0 5%;}
.site-wrap .box7 p {font-size: 18px; font-family: 'S-CoreDream-3Light'; line-height: 2; margin: 3% 0 0 5%;}
/* //website1 */

.website2 {position: relative; height: 1168px; background: #fff460; font-family: 'Rammetto One', cursive;}

.website2 .icon2-1 {position: absolute; right: 3%; bottom: 5%;}
.website2 .icon2-2 {position: absolute; left: 5%; top: 5%;}
.website2 .icon2-3 {position: absolute; left: 40%; top: 41%; z-index: 1;}
.website2 .icon2-4 {position: absolute; right: 10%; top: 10%; z-index: 1;}

.website2 .site-wrap {width: 1448px;}
.website2 .site-wrap .box5 {width: 291px;}
.website2 .site-wrap .box1 {background: #ffb4ce;}
.website2 .site-wrap .box2 {background: #ffb4ce;}
.website2 .webstandard img {margin: -1px -1px 0 -1px;}

.website2 .site-wrap .box1 h1 {margin: 9% 0 0 10%;}
.website2 .site-wrap .box6 h5 {margin: 8% 0 0 5%;}
.website2 .site-wrap .box7 p {margin: 5% 0 0 5%;}
/* //website2 */

.website3 {position: relative; height: 1168px; background: #ffb4ce; font-family: 'Rammetto One', cursive;}

.website3 .icon3-1 {position: absolute; right: 15%; top: 10%; z-index: 1;}
.website3 .icon3-2 {position: absolute; right: 20%; bottom: 13%; z-index: 1;}
.website3 .icon3-3 {position: absolute; left: 40%; top: 41%; z-index: 1;}
.website3 .icon3-4 {position: absolute; left: 10%; bottom: 10%; z-index: 1;}

.website3 .site-wrap {width: 1448px;}
.website3 .site-wrap .box5 {width: 291px;}
.website3 .webstandard img {margin: -1px -1px 0 -1px;}

.website3 .site-wrap .box1 h1 {margin: 9% 0 0 10%;}
.website3 .site-wrap .box6 h5 {margin: 8% 0 0 5%;}
.website3 .site-wrap .box7 p {margin: 5% 0 0 5%;}
/* //website3 */

.website4 {position: relative; height: 1168px; background: #fff460; font-family: 'Rammetto One', cursive;} 

.website4 .icon4-1 {position: absolute; left: 10%; top: 10%; z-index: 1;}
.website4 .icon4-2 {position: absolute; right: 10%; bottom: 7%; z-index: 1;}
.website4 .icon4-3 {position: absolute; left: 40%; top: 41%; z-index: 1;}
.website4 .icon4-4 {position: absolute; left: 3%; bottom: 5%;}

.website4 .site-wrap .box1 {background: #ffb4ce;}
.website4 .site-wrap .box2 {background: #ffb4ce;}

.website4 .site-wrap .box1 h1 {margin: 9% 0 0 10%;}
.website4 .site-wrap .box6 h5 {margin: 8% 0 0 5%;}
.website4 .site-wrap .box7 p {margin: 3% 0 0 5%;}
/* //website4 */

/* animation */
.goanimation {height: 880px; background: url(img/aniBack.png) no-repeat; background-size: cover; margin-top: -1px;}
.goanimation h1 {font-family: 'Rammetto One', cursive; font-size: 200px; text-align: center; line-height: 1.25; color: #035dff; text-shadow: 20px 20px 0 #000; padding-top: 9%;}

.pick {position: relative; height: 2483px; background: #000; margin-top: -1px; font-family: 'Rammetto One', cursive;}

.pick .aniIcon1 {position: absolute; right: 1%; top: 0.8%;}
.pick .aniIcon2 {position: absolute; left: 1%; top: 0.8%;}
.pick .aniIcon3 {position: absolute; right: 1%; bottom: 0.8%;}
.pick .aniIcon4 {position: absolute; left: 0.5%; bottom: 0.4%;}
.pick .anidot1 {position: absolute; right: 1%; top: 20%;}
.pick .anidot2 {position: absolute; left: 5%; top: 50%;}
.pick .anidot3 {position: absolute; right: 25%; bottom: 8%;}
.pick .anidot4 {position: absolute; left: 30%; top: 20%;}
.pick .anidot5 {position: absolute; right: 8%; top: 57%;}

.pick h1 {font-size: 150px; text-align: center; line-height: 4;}
.pick h1 span:nth-child(1) {color: #234ebd; border-bottom: 5px solid #234ebd;}
.pick h1 span:nth-child(2) {color: #c5a3d8; border-bottom: 5px solid #c5a3d8;}
.pick h1 span:nth-child(3) {color: #234ebd; border-bottom: 5px solid #234ebd;}
.pick h1 span:nth-child(4) {color: #45795f; border-bottom: 5px solid #45795f;}
.pick h1 span:nth-child(5) {color: #ff6541; border-bottom: 5px solid #ff6541;}
.pick h1 span:nth-child(6) {color: #234ebd; border-bottom: 5px solid #234ebd;}
.pick h1 span:nth-child(7) {color: #c5a3d8; border-bottom: 5px solid #c5a3d8;}
.pick h1 span:nth-child(8) {color: #234ebd; border-bottom: 5px solid #234ebd;}
.pick h1 span:nth-child(9) {color: #45795f; border-bottom: 5px solid #45795f;}
.pick h1 span:nth-child(10) {color: #ff6541; border-bottom: 5px solid #ff6541;}
.pick h1 span:nth-child(11) {color: #234ebd; border-bottom: 5px solid #234ebd;}

.pick .card-wrap {width: 1450px; height: 1643px; background: #000; margin: 0 auto; display: flex; flex-wrap: wrap; padding-top: 0%; justify-content: space-between;}
.pick .card-wrap > div {width: 473px; height: 801px; border-radius: 20px;}
.card-wrap .card1 {background: #5226f0;}
.card-wrap .card2 {background: #f25a25;}
.card-wrap .card3 {background: #ffb322;}
.card-wrap .card4 {background: #f25a25;}
.card-wrap .card5 {background: #ffb322;}
.card-wrap .card6 {background: #5226f0;}

.card1 .ract {width: 418px; height: 750px; border: 2px solid #ffb322; margin: 5%;}
.card2 .ract {width: 418px; height: 750px; border: 2px solid #000; margin: 5%;}
.card3 .ract {width: 418px; height: 750px; border: 2px solid #5226f0; margin: 5%;}
.card4 .ract {width: 418px; height: 750px; border: 2px solid #000; margin: 5%;}
.card5 .ract {width: 418px; height: 750px; border: 2px solid #5226f0; margin: 5%;}
.card6 .ract {width: 418px; height: 750px; border: 2px solid #ffb322; margin: 5%;}

.card1 .ract h3 {font-size: 33px; text-align: center; color: #ffb322;}
.card1 .ract h5 {font-size: 33px; text-align: center; color: #ffb322; line-height: 2.7;}
.card2 .ract h3 {font-size: 33px; text-align: center; color: #000;}
.card2 .ract h5 {font-size: 33px; text-align: center; color: #000; line-height: 2.7;}
.card3 .ract h3 {font-size: 33px; text-align: center; color: #5226f0;}
.card3 .ract h5 {font-size: 33px; text-align: center; color: #5226f0; line-height: 2.7;}
.card4 .ract h3 {font-size: 33px; text-align: center; color: #000;}
.card4 .ract h5 {font-size: 33px; text-align: center; color: #000; line-height: 2.7;}
.card5 .ract h3 {font-size: 33px; text-align: center; color: #5226f0;}
.card5 .ract h5 {font-size: 33px; text-align: center; color: #5226f0; line-height: 2.7;}
.card6 .ract h3 {font-size: 33px; text-align: center; color: #ffb322;}
.card6 .ract h5 {font-size: 33px; text-align: center; color: #ffb322; line-height: 2.7;}

.card1 .ract .imgwrap {position: relative; width: 418px; height: 600px; background: url(img/aniImg1.png); border: 2px solid #ffb322; margin-left: -2px;}
.card2 .ract .imgwrap {position: relative; width: 418px; height: 600px; background: url(img/aniImg2.png); border: 2px solid #000; margin-left: -2px;}
.card3 .ract .imgwrap {position: relative; width: 418px; height: 600px; background: url(img/aniImg3.png); border: 2px solid #5226f0; margin-left: -2px;}
.card4 .ract .imgwrap {position: relative; width: 418px; height: 600px; background: url(img/aniImg4.png); border: 2px solid #000; margin-left: -2px;}
.card5 .ract .imgwrap {position: relative; width: 418px; height: 600px; background: url(img/aniImg5.png); border: 2px solid #5226f0; margin-left: -2px;}
.card6 .ract .imgwrap {position: relative; width: 418px; height: 600px; background: url(img/aniImg6.png); border: 2px solid #ffb322; margin-left: -2px;}

.card-wrap .ract .imgwrap .clickBox {width: 372px; height: 100px; background: #fff; border-radius: 50px; border: 1px solid #000; position: absolute; left: 5%; bottom: 5%;}
.card-wrap .ract .imgwrap .clickBox a p {font-size: 40px; text-align: center; line-height: 2.5;}
/* //animation */

/* script */
.script {position: relative; height: 877px; background: url(img/scriptBack.png) no-repeat; margin-top: -3px; margin-left: -3px; font-family: 'Rammetto One', cursive;}
.script h1 {font-size: 200px; color: #fff88e; text-align: center; padding-top: 15%;}
.script .what {width: 588px; height: 133px; border: 2px solid #000; background: #fff88e; transform: rotate(11deg); position: absolute; right: 7%; top: 12%;}
.script .what h3 {font-size: 50px; text-align: center; padding-top: 4%;}

.see {position: relative; height: 1308px; background: url(img/scriptBack2.png) no-repeat; margin-left: -6px;}
.see img {position: absolute; left: 50%; bottom: 25%;}
.see h1 {font-family: 'Balsamiq Sans', cursive; font-size: 45px; font-weight: bold; position: absolute; left: 38%; bottom: 20%;}

.script1 {font-family: 'Rammetto One', cursive; width: 464px; height: 628px; background: #4be0f8; border: 2px solid #000; border-radius: 20px; transform: rotate(-9deg); position: absolute; left: 10%; top: 18.9%; z-index: 10;}
.script1 .img-wrap {width: 410px; height: 410px; border: 2px solid #000; border-radius: 20px; background: url(img/scriptImg1.png) no-repeat; margin: 10% 0 0 5%;}
.script1 h2 {font-size: 45px; text-align: center; padding-top: 12%;}
.script1 img {position: absolute; left: 35%; bottom: 20%;}
.script1-1 {width: 464px; height: 628px; background: #4be0f8; border: 2px solid #000; border-radius: 20px; transform: rotate(-9deg); position: absolute; left: 9.5%; top: 19%; z-index: 9;}

.script2 {font-family: 'Rammetto One', cursive; width: 464px; height: 628px; background: #f8c901; border: 2px solid #000; border-radius: 20px; transform: rotate(-1deg); position: absolute; left: 29%; top: 15.5%; z-index: 8;}
.script2 .img-wrap {width: 410px; height: 410px; border: 2px solid #000; border-radius: 20px; background: url(img/scriptImg2.png) no-repeat; margin: 10% 0 0 5%;}
.script2 h2 {font-size: 45px; text-align: center; padding-top: 16%; line-height: 1;}
.script2 img {position: absolute; left: 35%; bottom: 20%;}
.script2-1 {width: 464px; height: 628px; background: #f8c901; border: 2px solid #000; border-radius: 20px; transform: rotate(-1deg); position: absolute; left: 28.5%; top: 15.5%; z-index: 7;}

.script3 {font-family: 'Rammetto One', cursive; width: 464px; height: 628px; background: #f59a01; border: 2px solid #000; border-radius: 20px; transform: rotate(6deg); position: absolute; left: 48%; top: 15.9%; z-index: 6;}
.script3 .img-wrap {width: 410px; height: 410px; border: 2px solid #000; border-radius: 20px; background: url(img/scriptImg3.png) no-repeat; margin: 10% 0 0 5%;}
.script3 h2 {font-size: 45px; text-align: center; padding-top: 16%; line-height: 1;}
.script3 img {position: absolute; left: 35%; bottom: 20%;}
.script3-1 {width: 464px; height: 628px; background: #f59a01; border: 2px solid #000; border-radius: 20px; transform: rotate(6deg); position: absolute; left: 47.5%; top: 15.8%; z-index: 5;}

.script4 {font-family: 'Rammetto One', cursive; width: 464px; height: 628px; background: #f26c69; border: 2px solid #000; border-radius: 20px; transform: rotate(12deg); position: absolute; left: 67%; top: 19.5%; z-index: 4;}
.script4 .img-wrap {width: 410px; height: 410px; border: 2px solid #000; border-radius: 20px; background: url(img/scriptImg4.png) no-repeat; margin: 10% 0 0 5%;}
.script4 h2 {font-size: 45px; text-align: center; padding-top: 16%; line-height: 1;}
.script4 img {position: absolute; left: 35%; bottom: 20%;}
.script4-1 {width: 464px; height: 628px; background: #f26c69; border: 2px solid #000; border-radius: 20px; transform: rotate(12deg); position: absolute; left: 66.5%; top: 19.35%; z-index: 3;}
/* //script */

/* contact */
.contact {height: 976px; background: #ffb4ce; position: relative;}
.contact .pic1 {width: 420px; height: 519px; background: url(img/hi_pic.png) no-repeat; background-size: contain; transform: rotate(-0.4deg); position: absolute; left: 17.6%; top: 24.5%; z-index: 4;}
.contact .pic2 {width: 442px; height: 534px; background: #fff; border: 1px solid #000; transform: rotate(-4deg); position: absolute; left: 17%; top: 23%; z-index: 3;}
.contact .pic3 {width: 442px; height: 534px; background: #ffb4ce; border: 1px solid #000; transform: rotate(-4deg); position: absolute; left: 16%; top: 25%; z-index: 2;}
.contact .pic4 {width: 442px; height: 534px; background: #ffb4ce; border: 1px solid #000; transform: rotate(-4deg); position: absolute; left: 15%; top: 27%; z-index: 1;}

.contact .punch {position: absolute; left: 4.5%; top: 5%;}
.contact .contact_I1 {position: absolute; left: 15%; top: 30%; z-index: 5;}
.contact .contact_I2 {position: absolute; left: 35.5%; top: 25%; z-index: 5;}
.contact .contact_I3 {position: absolute; left: 15%; top: 48%; z-index: 5;}
.contact .contact_I4 {position: absolute; left: 38%; top: 50%; z-index: 5;}
.contact .contact_I5 {position: absolute; left: 16%; top: 73%; z-index: 5;}
.contact .contact_I6 {position: absolute; left: 34%; top: 68%; z-index: 5;}

.contact h1 {font-family: 'Rammetto One', cursive; font-size: 95px; color: #0053dc; -webkit-text-stroke: 3px #000; line-height: 1; position: absolute; right: 13%; top: 28%;}
.contact .bar {width: 732px; height: 3px; background: #fff; position: absolute; right: 13.2%; top: 54%;}
.contact .contactBox {width: 742px; height: 111px; border: 3px solid #000; box-shadow: -8px 8px 0 #000; position: absolute; right: 12.8%; top: 62%; display: flex;}
.contact h3 {font-size: 38px; font-family: 'Jua', sans-serif; position: absolute;  right: 21.5%; top: 78%;}

.contact .contactBox > div {width: 148px; height: 111px; border-right: 3px solid #000;}
.contact .contactBox > div:last-child {border-right: none;}
.contact .contactBox > div img {margin: 17% 0 0 29%;}
/* //contact */

/* end */
.end {position: relative; height: 1020px; background: #000; font-family: 'Rammetto One', cursive;}
.end h1 {font-size: 200px; color: #fff; text-align: center;}

.end .end-react {width: 258px; height: 258px; background: #fff460; border-radius: 50%; position: absolute; left: 5%; bottom: 0;}
.end .end-react p {font-size: 40px; color: #0053dc; text-align: center; padding-top: 38%;}
.end .end-html {width: 183px; height: 183px; background: #035DFF; border-radius: 50%; position: absolute; left: 25%; bottom: 0;}
.end .end-html p {font-size: 30px; color: #fff; text-align: center; padding-top: 38%;}
.end .end-vue {width: 228px; height: 228px; background: #f4b8cd; border-radius: 50%; position: absolute; left: 34.6%; bottom: 0;}
.end .end-vue p {font-size: 40px; color: #035DFF; text-align: center; padding-top: 38%;}
.end .end-css {width: 240px; height: 240px; background: #f4b8cd; border-radius: 50%; position: absolute; left: 37.6%; bottom: 21.6%;}
.end .end-css p {font-size: 40px; color: #035DFF; text-align: center; padding-top: 38%;}
.end .end-javascript {width: 308px; height: 308px; background: #FF6541; border-radius: 50%; position: absolute; left: 46.5%; bottom: 0%;}
.end .end-javascript p {font-size: 30px; color: #fff460; text-align: center; padding-top: 45%;}
.end .end-script {width: 282px; height: 282px; background: #f4b8cd; border-radius: 50%; position: absolute; left: 63%; bottom: 0%;}
.end .end-script p {font-size: 40px; color: #035DFF; text-align: center; padding-top: 40%;}
.end .end-jquery {width: 239px; height: 239px; background: #fff460; border-radius: 50%; position: absolute; left: 78%; bottom: 0%;}
.end .end-jquery p {font-size: 40px; color: #035DFF; text-align: center; padding-top: 40%;}
.end .end-scss {width: 230px; height: 230px; background: #035DFF; border-radius: 50%; position: absolute; left: 73.3%; bottom: 21.8%;}
.end .end-scss p {font-size: 40px; color: #fff; text-align: center; padding-top: 39%;}
.end .end-animation {width: 276px; height: 276px; background: #FF6541; border-radius: 50%; position: absolute; left: 86%; bottom: 17.1%;}
.end .end-animation p {font-size: 30px; color: #fff460; text-align: center; padding-top: 41%;}
.end .ball1 {width: 150px; height: 150px; background: #9EF3F3; border-radius: 50%; position: absolute; left: -2.5%; bottom: 0;}
.end .ball2 {width: 130px; height: 130px; background: #fff; border-radius: 50%; position: absolute; left: 18%; bottom: 0;}